#mainContent {
    height: 95%;
    width: 95%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(10, [col] auto);
    grid-template-rows: repeat(10, [row] auto);
    position: absolute;
}

#scoreBoard {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    grid-row: 1;
    grid-column: 1 / 11;
    display: grid;
    grid-template-columns: repeat(2, [col] auto);
    grid-template-rows: repeat(1, [row] auto);
}

.scoreBoardStopStartButton {
    height: 100%;
    width: 100%;
    border: thin solid #161616;
    background-color: #282828;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #efeaea;
    grid-row: 1;
    grid-column: 1;
}

.scoreBoardStopStartButton:active {
    border: thin solid #99CC00;
    background-color: #F5FFD2;
    color: #669900;
    cursor: pointer;
}

.scoreBoardStopStartButton:hover {
    border: thin solid #282828;
    background-color: #efeaea;
    color: #282828;
    cursor: pointer;
}

#scorePanel {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    grid-row: 1;
    grid-column: 2;
    background: #282828
}

.OutputText {
    color: orange;
}

#playBoard {
    grid-row: 2 / 11;
    grid-column: 1 / 11;
    background-image: url('../images/background.jpg');
    background-size: contain;
    background-repeat: round;
}

#player {
    height: 100px;
    width: 100px;
    right: 100%;
    position: absolute;
}

.enemySquare {
    background: url('../images/pumpkin.jpg');
    background-size: 20px;
    height: 20px;
    width: 20px;
    margin: 0;
    position: relative;
}
